name: Build and Deploy to ECS
on:
  push:
    branches:
      - deploy 
permissions:
  id-token: write
  contents: read
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_ARN }}
          aws-region: ${{ secrets.AWS_REGION }}
      - name: Login to Amazon ECR
        uses: aws-actions/amazon-ecr-login@v2
      - name: Build and push Docker image
        run: |
          ls
          COMMIT_ID=$(echo $GITHUB_SHA | cut -c1-7)
          DATE=$(date +"%d.%m.%Y")
          IMAGE_TAG="${COMMIT_ID}-${DATE}"
          echo "IMAGE_TAG=$IMAGE_TAG" >> $GITHUB_ENV
          ECR_URI=$(aws ecr describe-repositories \
            --repository-names ${{ vars.ECR_REPOSITORY }} \
            --query 'repositories[0].repositoryUri' \
            --output text)
          docker build -f docker/Dockerfile -t $ECR_URI:$IMAGE_TAG .
          docker push $ECR_URI:$IMAGE_TAG
      - name: Get current task definition
        run: |
          aws ecs describe-task-definition \
            --task-definition ${{ vars.ECS_TASK }} \
            --query taskDefinition \
            > task-def.json
      - name: Replace image in task definition
        run: |
          NEW_IMAGE=${{ vars.ECR_URI }}:${IMAGE_TAG}
          jq '.containerDefinitions[0].image = "'"$NEW_IMAGE"'"' \
            task-def.json > new-task-def.json
      - name: Register new task definition
        run: |
          aws ecs register-task-definition \
            --cli-input-json file://new-task-def.json
      - name: Update ECS service
        run: |
          aws ecs update-service \
            --cluster ${{ vars.ECS_CLUSTER }} \
            --service ${{ vars.ECS_SERVICE }} \
            --task-definition ecs-demo-task
        